.label-header {
    font-size: 14px;
    font-weight: 700;
    color: #5252d8;
}

.label-data {
    font-size: 16px;
    font-weight: 400;
}

.my-small-calendar .p-inputtext {
    font-size: 0.875rem;
    padding: 0.4rem 0.75rem;
    height: 2rem;
}